
.swatch-category-list {
display: flex;
  gap: 20px;
  position: absolute;
  top: 50px;
}
.swatch-container-list-item {
  background-color: black;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
}
.swatch-container-list-item.active {
  border: 2px solid #fff;
  border-radius: 10px;
}
.swatch-container-list-item img {
    border-radius: 8px 8px 0 0;
  width: 124px;
  height: 90px;
}
.swatch-container-list-item p {
  padding-left: 10px;
}
.swatch-category.hide {
  display: none;
}
.swatch-container-close{
   position: absolute;
   top: 41px;
   left: 623px;
   cursor: pointer;

}