.swatch-category {
  top: 60px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
}
.swatch-category img {
  width: 20px;
  height: 20px;
}
.swatch-category-list {
  display: flex;
  gap: 20px;
  top: 50px;
}
.swatch-container-list-item {
  background-color: black;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
}
.swatch-container-list-item.active {
  border: 2px solid #4a0606;
  border-radius: 10px;
}
.swatch-container-list-item img {
  border-radius: 8px 8px 0 0;
  width: 124px;
  height: 90px;
}
.swatch-container-list-item p {
  padding-left: 10px;
}
.swatch-category.hide {
  display: none;
}
.swatch-container-close {
  top: 41px;
  left: 623px;
  cursor: pointer;
}
